.stg_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/executium-Bre_5ziWvlE-unsplash m.jpg");
}

.stg_shadow{
    position: relative;
    left:40% ;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: auto;
}

.stg_shadow{
    font-size: 3.5vw ;
    margin-bottom: 10px;
    
}

.stg_shadow>h1{
    font-size: 7.5vw ;
    margin-bottom: 10px;
}