@font-face {
  font-family: 'Oswald', sans-serif;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "oswald";

  font-size: 3.5vw;
  letter-spacing: 0.1vw;
}

h2 {
  font-size: 4.5vw;
}

.stg_navbar {
  font-size: initial;
}

.stg_navbar a {
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-left: 10px;
}

.sec1 {
  padding: 10%;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  z-index: 1000;

  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffffe8;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}



footer > div {
  background-color: rgba(1, 1, 1, 0.7);
  color: #fff;
  padding: 2%;
  margin-top: 4%;
}

footer h2 {
  font-size: 4.5vw;
}

footer a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 4vw;
}

footer a:hover {
  color: green;
}

footer .col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .social_links {
  display: flex;
}

footer .social_links a {
  font-size: 4.6vw;
}

footer .social_links .fb:hover {
}

footer .social_links .insta:hover {
}

footer .social_links .tgm:hover {
}

footer .social_links .in:hover {
}

footer .social_links .ytb:hover {
}

footer .social_links .twt:hover {
}

.logo {
  background-color: black;
  text-align: center;
}

.logo img {
  width: 40vw;
}

.logo_foot img {
  width: 30vw;
}

.info_sec {
  background-image: url(../img/executium-Pxq6uhDmtfg-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position:right;
  background-repeat: no-repeat;

  padding-top: 8%;
  margin-top: 4%;
  color:black;
  
}

.info_sec .col {
  text-align: center;
  padding: 3%;
}

.info_sec i {
  font-size: 8vw;
}

.info_sec .shield {
  color: rgb(11, 197, 230);
}

.info_sec .bankcard {
  color: rgb(6, 185, 6);
}

.info_sec .team {
  color: orange;
}

.info_sec .uparrow {
  color: red;
}


.info_sec .blur{
  height: 30vw;
  background:rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  
  

  
}
